<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/echarts.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/jquery.limarquee.js"></script>
<script type="text/javascript" src="js/jquery.cxselect.min.js"></script>
<link rel="stylesheet" href="css/comon0.css">
</head>
<body>
<div style="background:#000d4a url(images/2.jpg) center top;">

  <div class="loading">
    <div class="loadbox"> <img src="picture/loading.gif"> 页面加载中... </div>
  </div>
  <div class="back"></div>
  <div class="head">
    <h1>天气现象记录可视化展示</h1>
    <div class="weather"><span id="showTime"></span></div>
	    </div>
    <script>
var t = null;
    t = setTimeout(time,2000);//開始运行
    function time()
    {
       clearTimeout(t);//清除定时器
       dt = new Date();
		var y=dt.getFullYear();
		var mt=dt.getMonth()+1;
		var day=dt.getDate();
       var h=dt.getHours();//获取时
       var m=dt.getMinutes();//获取分
       var s=dt.getSeconds();//获取秒
       document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"日"+h+"时"+m+"分"+s+"秒";
       t = setTimeout(time,2000); //设定定时器，循环运行
    } 
</script> 
  <div class="mainbox">
    <ul class="clearfix">
      <li>
        <div class="boxall" style="height:545px;">
    
          <div class="navboxall" >

            <div class="sycm">
              <ul class="clearfix">
                <li>
                  <h2>36.5 ℃</h2>
                  <span>最高温度</span></li>
                <li>
                  <h2>-19 ℃</h2>
                  <span>最低温度</span></li>

              </ul>

            </div>

            <ul class="jindu clearfix">
              <div>雾霾比例</div>
              <div>雨天比例</div>
              <li id="zb1"></li>
              <li id="zb4"></li>
              <li id="zb2"></li>
              <li id="zb3"></li>

			  </ul>
			</div>
        </div>
      </li>
      <li>
        <div class="boxall" style="height:545px">
          <div class="alltitle">上海2017全年温度湿度信息</div>
          <div class="navboxall" id="echart4"></div>
        </div>
      </li>
      <li>
        <div class="boxall" style="height:260px">
          <div class="alltitle">城市平均风速比较视图</div>
          <div class="navboxall" id="echart1"> </div>
        </div>
        <div class="boxall" style="height:270px">
          <div class="alltitle">城市平均总云量</div>
          <div class="navboxall"  id="echart2"> </div>
        </div>
      </li>
    </ul>
    <ul class="clearfix">
      <li>
        <div class="boxall" style="height:390px;">
          <div class="alltitle">天气温度信息投屏</div>
          <div class="navboxall" >
            <div class="wraptit"> <span>date</span><span>city</span><span>county</span><span>temperatu</span> </div>
            <div class="wrap">
              <ul>
                <li>
                  <p><span>2013/1/1</span><span>重庆市</span><span>巴南市</span><span>6 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/1</span><span>北京市</span><span>朝阳区</span><span>-4.8 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/1</span><span>上海市</span><span>崇明区</span><span>3.5 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/2</span><span>重庆市</span><span>荣昌市</span><span>4.3 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/2</span><span>上海市</span><span>金山区</span><span>3 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/2</span><span>北京市</span><span>大兴区</span><span>-9.7 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/3</span><span>重庆市</span><span>丰都县</span><span>5.6 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/3</span><span>北京市</span><span>平谷区</span><span>-9.5 ℃</span></p>
                </li>
                <li>
                  <p><span>2013/1/3</span><span>上海市</span><span>浦东新区</span><span>-0.3 ℃</span></p>
                </li>

				</ul>
            </div>
          </div>
        </div>
      </li>
      <li style="width:38%">
        <div class="boxall" style="height:390px">
          <div class="alltitle">北京(朝阳区)2017全年的最小水平能见度(米)图示</div>
          <div class="navboxall" id="echart3"></div>
        </div>
      </li>
      <li style="width:38%">
        <div class="boxall" style="height:390px">
          <div class="alltitle">用户情感(积极与消极)的分析对比图示</div>
          <div class="navboxall" id="echart5"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<script>
$(function(){
	$('.wrap').liMarquee({
		direction: 'up',//身上滚动 
		//runshort: false,//内容不足时不滚动
		scrollamount: 20//速度
	});
});
</script> 

</body>
</html>
